{% extends "index.html" %}
{% block head %}
    {{super()}}
<style type="text/css"></style>
<link type="text/css" rel="stylesheet" href="../static/css/Actividades.css">
{% endblock %}
{% block content %}
    <section class="Seccion-Principal-Senderismo">
        <div class="Imagen-Principal-Senderismo">
            <!--
            <img src="/static/img/TiendasNoche.jpg" class="Img-Principal" alt="CampingInicio" class="Camping-Inicio">
            -->
            <div data-aos="fade-up" data-aos-time="3000" class="Container-Texto-Bungalows">
                <h1 style="color: white; font-size: 50px; font-family: 'Quicksand', cursive;">Senderismo</h1>
            </div>
        </div>
    </section>
    <section class="Seccion-Informacion">
        <div class="Informacion-Senderismo" data-aos="fade-down" data-aos-time="2500">
            <div class="Container-Senderismo-Texto">
                <h2 class="Senderismo-Texto-Info">¡Date un respiro!</h2>
            </div>
            <div class="Info-Texto-Senderismo">
                <p>Nuestros monitores te facilitaran diferentes rutas. Ofrecemos rutas desde los más peques hasta los más aventureros.</p>
            </div>
            <div class="Div-Tabla-Precios-Senderismo">
                <table class="Tabla-Senderismo">
                    <tr>
                        <th>Tipo</th>
                        <th>Duración</th>
                        <th>Precio</th>
                    </tr>
                    <tr>
                        <td>Ruta Valle</td>
                        <td>45 Min</td>
                        <td>5Eur/Persona</td>
                    </tr>
                    <tr>
                        <td>Ruta Cataratas</td>
                        <td>2h y 30 Min</td>
                        <td>15Eur/Persona</td>
                    </tr>
                    <tr>
                        <td>Excursion</td>
                        <td>2h y 30 Min</td>
                        <td>20Eur/Persona</td>
                    </tr>
                    <tr>
                        <td>Montaña</td>
                        <td>3h</td>
                        <td>25Eur/Persona</td>
                    </tr>
                    
                </table>
            </div>
            <div class="Container-Button-Senderismo">
                <a class="Button-Reserva-Ofertas" href="/Reservas">Reservar Actividades</a>
            </div>
        </div>  
    </section>
{% endblock %}