{% extends "index.html" %}
{% block head %}
    {{super()}}
<style type="text/css"></style>
<link type="text/css" rel="stylesheet" href="static/css/Campingcss.css">
{% endblock %}
{% block content %}
    <section class="Seccion-Camping">
        <div class="Seccion-Mapa-Camping">
            <div class="ImgMapa">
                <img src="static/img/Camping/Mapa.jpg">
                <div class="DivInteriorImgMapa">
                    <span>Parrafo</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}